* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  background-color: #242424;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}